<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IVASAE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IVASAE.My.MySettings.IMACANETConnectionString13" connectionString="Data Source=PC-INF002;Initial Catalog=IMACANET;Persist Security Info=True;User ID=ASPEL"
            providerName="System.Data.SqlClient" />
        <add name="IVASAE.My.MySettings.IMACANETConnectionString8" connectionString="Data Source=192.168.1.6;Initial Catalog=IMACANET;User ID=ASPEL"
            providerName="System.Data.SqlClient" />
        <add name="IVASAE.My.MySettings.IVASAEConnectionString" connectionString="Data Source=localhost\MANUSQL;Initial Catalog=IVASAE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IVASAE.My.MySettings>
            <setting name="SERVER" serializeAs="String">
                <value>192.168.12.2</value>
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>IVASAE</value>
            </setting>
            <setting name="USUARIO" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="USER_SERVER" serializeAs="String">
                <value>ivasae_user</value>
            </setting>
            <setting name="PASS_SERVER" serializeAs="String">
                <value>atspro2018</value>
            </setting>
            <setting name="STADOCHECKEN" serializeAs="String">
                <value>1</value>
            </setting>
        </IVASAE.My.MySettings>
    </userSettings>
</configuration>